# Url for Postgres session
POSTGRESQL_URL=postgresql+asyncpg://{user}:{password}@localhost:{port}/{database_name}

# Postgresql settings
POSTGRES_DB=your_postgres_name
POSTGRES_DB_PORT=your_postgres_port
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_HOST=your_postgres_host

# JWT keys
SECRET_KEY_ACCESS=your_jwt_secret_key
SECRET_KEY_REFRESH=your_jwt_refresh_key
JWT_SIGNING_ALGORITHM=HS256

# Email settings for mailhog
EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_HOST_USER=your_mailhog_user
EMAIL_HOST_PASSWORD=your_mailhog_password
EMAIL_USE_TLS=False

# Templates name for sending email's with mailhog
ACTIVATION_EMAIL_TEMPLATE_NAME=activation_request.html
ACTIVATION_COMPLETE_EMAIL_TEMPLATE_NAME=activation_complete.html
PASSWORD_RESET_TEMPLATE_NAME=password_reset_request.html
PASSWORD_RESET_COMPLETE_TEMPLATE_NAME=password_reset_complete.html

# Stripe settings
STRIPE_PUBLIC_KEY=your_stripe_public_key
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET_KEY=your_stripe_webhook_key
BASE_URL=http://localhost:8000
